.page-header {
  background-color: $dark-grey;
  padding-top: $base-space;
  padding-bottom: $base-space;
  &,
  a {
    color: $grey;
    text-decoration: none;
  }

  .brand {
    max-width: 40px;
    @media (max-width: $size-xs) {
      display: block;
      margin-bottom: $base-space;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: $size-xs) {
      display: block;
      text-align: center;
    }
  }
  .header-actions {
    a {
      display: inline-block;
      &:hover {
        color: $light;
      }
      + a {
        margin-left: $base-space * 2;
      }
      &.active {
        color: $light;
      }
    }
    i {
      margin-right: $base-space/2;
    }
    .logout {
      display: none;
    }
  }
}
